
backend/node_modules
backend/.env
backend/logs
backend/Files/Uploads


frontend/node_modules/
frontend/.expo/
frontend/dist/
frontend/npm-debug.*
frontend/*.jks
frontend/*.p8
frontend/*.p12
frontend/*.key
frontend/*.nativeprovision
frontend/*.orig.*
frontend/web-build/

# macOS
native/.DS_Store

# Temporary files created by Metro to check the health of the file watcher
native/.metro-health-check*

